html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 600px){
  body {
    background-color: lightcoral;
    font-family: sans-serif;
  }
  .container {
    flex-direction: column;
  }

  p {
    padding: 0 5px;
    line-height: 1.5em;
  }

}

@media screen and (min-width: 768px){
  /*body {
    background-color: rgba(0, 0, 255, 0.534);
    font-family: sans-serif;
  }

  header p {
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  nav li {
    list-style-type: none;
  }

  .aside-one {
    display: flex;
    flex-flow: column;
    flex-basis: 40%;
    float: left;
  }

  .aside-two {
    display: flex;
    flex-flow: column;
    flex-basis: 40%;
  }

  .main-content {
    margin-top: 200px;
  }*/

  body {
    background-color: lightblue;
  }

  .container {
    flex-wrap: wrap;
  }

}


@media screen and (min-width: 1000px) {
  body {
    background-color: lightgreen;
  }

  .container {
    flex-wrap: nowrap;
  }

}